* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    font-size: 1.406vw;
    background-color: #000;
    margin: 0;
    @media only screen and (max-width: 1024px){
        font-size: 18px;
    }
}

p , a , li {
    font-size: em(18);
    color: #fff;
    margin: 0;
}

ul, ol{
    margin: 0;
}

.animated {
    .animated-child {
        opacity: 0;
        transform : translateY(-15px)
    }
}

main {
    // padding-top: em(131);
}

.section {
    padding: 0 em(25);
    position: relative;
    @media only screen and (max-width: 767px){
        padding: 0 em(15);
    }
    &--home-container {
        padding-top: em(60);
        padding-bottom: em(60);
    }
    &--lorem-momentum-container {
        padding-top: em(180);
        padding-bottom: em(180);
        @media only screen and (max-width: 767px){
            padding-bottom: em(130);
        }
    }
    &--the-artist-container {
        padding-top: em(65);
        padding-bottom: em(65);
    }
}





// Settings style for carousels


.owl-carousel {
    .owl-dots {
        text-align: center;
        button {
            outline: none;
            width: em(13);
            height: em(13);
            border-radius: 50%;
            background-color: $white;
            &.active {
                background-color: $blue;
            }
        }
    }
}