.section-header-container {
    width: em(450);
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    @media only screen and (max-width: 767px){
        width: 100%;
    }
    .header-wrapper {
        .header-bg-wrapper {
            padding: em(5) 0 ;
            position: relative;
            
            .blue{
                background-color: $blue;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                width: 0;
            }
            .red {
                background-color: $red;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;
                width: 0;
            }
        }
        h2{
            padding-right: 0.200em;
            z-index: 99;
        }
    }
}